<nav th:fragment="nav" class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <a class="navbar-brand active" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <a th:if="${session!=null&& session.companyLogin != null}" class="nav-link text-success" th:href="@{/job/add-job}">Đăng tin tuyển dụng</a>
            </li>
            <li class="nav-item">
                <a th:if="${session != null && session.companyLogin != null}" class="nav-link" th:href="@{/job/list}">Xem danh sách Job</a>
            </li>
<!--            <li class="nav-item active mr-3">-->
<!--                <a th:if="${session != null && session.companyLogin != null}"-->
<!--                   th:href="@{/findCadidateMatchOfCompany}"-->
<!--                   class="nav-link"-->
<!--                >Tìm các ứng viên có-->
<!--                    skill phù hợp</a>-->
<!--            </li>-->

            <li class="nav-item dropdown" th:if="${session != null && session.companyLogin != null}">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Xem danh sách
                  công viec</a>
                <ul class="dropdown-menu">
                    <li class="nav-item active mr-3"
                    >
                        <a
                                th:href="@{/findCadidateMatchOfCompany}"
                           class=" nav-link"
                        >Tìm các ứng phù hợp</a>
                    </li>
                    <li class="nav-item active mr-3"
                    >
                        <a
                           href="/skill/findCadidateskillMatchOfCompany"
                           class=" nav-link"
                        >Xem công
                            việc có skill phù hợp</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item active mr-3"
            >
                <a th:if="${session != null && session.candidateLogin != null}" href="/candidateSkill/SkillOfCandidate"
                   class="btn btn-outline-success my-2 my-sm-0 nav-link"
                >Xem kỹ năng cá nhân của mình</a>
            </li>
            <li class="nav-item active mr-3" >
                <a th:if="${session != null && session.candidateLogin != null}" th:href="@{/skill/findSkillLearn}"
                   class="btn btn-outline-success my-2 my-sm-0 nav-link"
                >Đề xuất kỹ năng nên học
           </a>
            </li>
            <li class="nav-item active mr-3"
            >
                <a th:if="${session != null && session.candidateLogin != null}"
                   href="/job/findJobWithcan"
                   class=" nav-link"
                >Xem công
                    việc phù hợp</a>
            </li>

            <li class="nav-item dropdown" th:if="${session != null && session.companyLogin != null}">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Xem danh sách
                    ứng viên</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/list}">Xem Ds không phân trang</a></li>
                    <li><a class="dropdown-item" th:href="@{/candidates}" >Xem Ds phân trang</a></li>


                    <li><a class="dropdown-item" th:href="@{/add-candidates}">Thêm ứng viên</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a th:if="${session != null && (session.companyLogin != null || session.candidateLogin != null)}" class="nav-link" th:href="@{/skill/openformadd}">Thêm kỹ năng</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->

        </ul>
        <div class="d-flex form-inline">
            <form th:if="${session!=null && (session.companyLogin != null || session.candidateLogin != null)}" class=" d-flex form-inline my-2 my-lg-0" th:action="@{/job/advanceJobMatch}">
                <input  class="form-control mr-sm-5" type="search" placeholder="Search" aria-label="Search" name="value">
                <button   class="ml-1 btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit"
               th:if="${session != null && (session.companyLogin != null || session.candidateLogin != null)}"
               th:href="@{/logout}"
            >Logout</a>
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit"
               th:if="${session.companyLogin == null && session.candidateLogin == null}"
               th:href="@{/open-signin}"
            >Login</a>
        </div>



    </div>

</nav>
