<nav th:fragment="nav" class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <a class="navbar-brand active" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-success" href="#">Đăng tin tuyển dụng</a>
      </li>

                  <li class="nav-item">
                      <a class="nav-link" href="#">Tìm ứng viên có kĩ năng</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Xem danh sách
                          ứng viên</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" th:href="@{/list}">Xem Ds không phân trang</a></li>
                          <li><a class="dropdown-item" th:href="@{/candidates}" >Xem Ds phân trang</a></li>


                          <li><a class="dropdown-item" th:href="@{/add-candidates}">Thêm ứng viên</a></li>
                      </ul>
                  </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thêm kỹ năng</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->

    </ul>
    <form class=" d-flex form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-5" type="search" placeholder="Search" aria-label="Search">
      <button class="ml-1 btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>

</nav>
